<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador de conductores</title>
    <link rel="stylesheet" href="/historial.css">
</head>
<body>
    <header>

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/historial">Historial</a></li>
        </ul>
            
    </header>
    
    <div class="infocontainer">
        <h3 id="infotexto">Prueba</h3>
    </div>

    <script type="module" src="/historial.js"></script>
</body>
</html>