@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

div {
    max-width: 1400px;
}

body{
    
    background-color: #192125;
    color: whitesmoke;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

header ul {
    display: flex;
    list-style: none;
    padding-left: 20px;
}

header ul li {
    padding-right: 60px;
}

header a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

header a:hover {
    border-bottom: solid 1px whitesmoke;
    border-radius: 1px;
}

#pagina {
    margin-top: 100px;
}

.pagina {
    margin: 0 auto;
    width: 900px;
    align-items: center;
    text-align: center;
}

.pagina h1 {
    font-size: 35px;
    border-bottom: solid 1px white;
    width: auto;
}

.explicacion {
    margin: 0 auto;
    height: auto;
    width: 900px;
    text-align: left;
}

#error-boton {
    margin: auto;
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 170px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 370px;
    background-color: #344047;
    text-align: center;
    border-radius: 15px;
    opacity: 0;
}

#error-boton h3 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
    border-bottom: 1px solid whitesmoke;
    margin-top: 10px;
    padding-bottom: 10px;
}

#error-boton h4 {
    color: whitesmoke;
    font-size: 17px;
}

.animacionMoverse {
    animation: animacionMoverse 5s;
}

@keyframes animacionMoverse {
    0% {
        transform: translateY(80px);
        
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.formulario {
    margin: 0 auto;
    width: auto;
    display: flex;
    margin-top: 70px;
    
}


.formtext {
    
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    width: 400px;
    position: relative;
    margin-left: 170px;
}

.formtext input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.formtext label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: whitesmoke;
}

.formtext :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #192125;
}
  
.formtext :is(input:focus, input:valid) {
    border-color: #486b81;
}

.button-div {
    width: auto;
    height: auto;
    padding-left: 20px;
    text-align: center;
    margin-top: 17px;
}

button {
    appearance: button;
    background-color: #3C7A89;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
   
button:after {
    background-clip: padding-box;
    background-color: #1d97cf;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
   
button:main, button:focus {
    user-select: auto;
}
   
button:hover:not(:disabled) {
    filter: brightness(1.1);
}
   
button:disabled {
    cursor: auto;
}
   
button:active:after {
    border-width: 0 0 0px;
}
   
button:active {
    padding-bottom: 10px;
}






